{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}จัดการนักศึกษา{% endblock %}
{% block favicon %}{% static '/images/icons8-student-32.png'%}{% endblock %}

{% block importlink %}
<link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}

{% block nav %}

<div class="row">
    <div class="col-5">
      <div class="topleftnav"> 
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header" id="header1">
             <div class="container">
              <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
              </div>
            </div>
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="close1"></button>
          </div>

          <div class="offcanvas-body">
            <div>

              <div class="container" id="containerimg111">
                <div class="row">
                  <div class="col">
                    
                  </div>
                  <div class="col" id="gridimg">
                    <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile2">

                    <h3 id="username1">{{user.username}}</h3>
                  </div>
                  <div class="col">
                    
                  </div>
                </div>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Name</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.first_name}} {{user.last_name}}</h5>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Email</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.email}}</h5>
              </div>
              <br>
              <center>
                <div>
                  <button type="button" class="btn btn-warning" >
                    <a href="{% url 'change-password'%}" style="text-decoration: none; color: white;">Change Password</a>
                  </button>
                </div>
              </center>
            </div>
            
          </div>
        </div>

        
        
      </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5 text-end toprightnav">
      <div class="row">
        <div class="col" id="usernamepro">
              <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              {{user.first_name}} {{user.last_name}}
              <a class="btn btn-danger" href="{% url 'logout' %}" id="logoutbutton"><b>Logout</b></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block sidebartitle %}
จัดการนักศึกษา
{% endblock %}

{% block sidebar %}
<li id="sidebarsubtitle">
    <a href="{% url 'staff' %}" class="nav-link link-dark">
        <center>มอบหมายงาน</center>
    </a>
</li>
<li id="sidebarsubtitle">
    <a href="{% url 'history' %}" class="nav-link link-dark">
        <center>ประวัติการซ่อม</center>
    </a>
</li>

<li id="sidebarsubtitle">
    <a href="{% url 'managestudent' %}" class="nav-link link-dark">
        <center>จัดการนักศึกษา</center>
    </a>
</li>

<li id="sidebarsubtitle">
    <a href="{% url 'managetechnician' %}" class="nav-link link-dark">
        <center>จัดการช่าง</center>
    </a>
</li>

<li id="sidebarsubtitle">
  <a href="{% url 'room' %}" class="nav-link link-dark">
      <center>จัดการห้องพัก</center>
  </a>
</li>
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
{%if alert %}
    {{ alert | safe }}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <span class="badge rounded-pill bg-light text-dark" id="badgetwotop">
                <a href="{%url 'managestudent' %}" id="tagabadge">ลบ - แก้ไขนักศึกษา</a>
            </span>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr id="tableheadrowblue">
            <th class="col-1" id="tableheadletter"><center>No.</center></th>
            <th class="col-5" id="tableheadletter"><center>ชื่อ - นามสกุล</center></th>
            <th class="col-3" id="tableheadletter"><center>ห้อง</center></th>
            <th class="col-3" id="tableheadletter"><center></center></th>
        </tr>
    </thead>
    <tbody>
        {% for student in request_student %}
            <tr>
                <th id="tablebodyletter"><center>{{forloop.counter}}</center></th>
                <td id="tablebodyletter"><center>{{student.user.first_name}} {{student.user.last_name}}</center></td>
                <td id="tablebodyletter"><center>{{student.room_id.room_number}}</center></td>
                <td><center>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-warning">
                                <a id="buttonstudentmanageyr" href="{% url 'editstudent' student.id %}" >แก้ไข</a>
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{student.id}}">
                                <a id="buttonstudentmanageyr" >ลบ</a>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">ยืนยันการลบ</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            คุณแน่ใจที่จะลบ {{student.user.first_name}} {{student.user.last_name}} หรือไม่?
                                        </div>
                                        <div class="modal-footer">
                                                <button class="btn btn-danger" type="submit" class="delete" >
                                                    <a id="deletestatus" href="{% url 'deletestudent' student.id %}"  >ใช่ฉันแน่ใจที่จะลบ</a>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </center></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

</html>