{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}แก้ไขห้องพัก{% endblock %}
{% block favicon %}{% static '/images/icons8-bunk-bed-32.png'%}{% endblock %}


{% block importlink %}
<link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}

{% block nav %}
<div class="row">
    <div class="col-5">
      <div class="topleftnav"> 
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header" id="header1">
             <div class="container">
              <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
              </div>
            </div>
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="close1"></button>
          </div>

          <div class="offcanvas-body">
            <div>

              <div class="container" id="containerimg111">
                <div class="row">
                  <div class="col">
                    
                  </div>
                  <div class="col" id="gridimg">
                    <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile2">

                    <h3 id="username1">{{user.username}}</h3>
                  </div>
                  <div class="col">
                    
                  </div>
                </div>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Name</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.first_name}} {{user.last_name}}</h5>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Email</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.email}}</h5>
              </div>
            </div>
            
          </div>
        </div>  
      </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5 text-end toprightnav">
      <div class="row">
        <div class="col" id="usernamepro">
              <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              {{user.first_name}} {{user.last_name}}
              <a class="btn btn-danger" href="{% url 'logout' %}" id="logoutbutton"><b>Logout</b></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block sidebartitle %}
แก้ไขห้องพัก
{% endblock %}

{% block sidebar %}
<li id="sidebarsubtitle">
    <a href="{% url 'staff' %}" class="nav-link link-dark">
        <center>มอบหมายงาน</center>
    </a>
</li>
<li id="sidebarsubtitle">
    <a href="{% url 'history' %}" class="nav-link link-dark">
        <center>ประวัติการซ่อม</center>
    </a>
</li>

<li id="sidebarsubtitle">
    <a href="{% url 'managestudent' %}" class="nav-link link-dark">
        <center>จัดการนักศึกษา</center>
    </a>
</li>

<li id="sidebarsubtitle">
    <a href="{% url 'managetechnician' %}" class="nav-link link-dark">
        <center>จัดการช่าง</center>
    </a>
</li>

<li id="sidebarsubtitle">
  <a href="{% url 'room' %}" class="nav-link link-dark">
      <center>จัดการห้องพัก</center>
  </a>
</li>
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <body>
    <div class="emp-form-box"></div>
      <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="{{ form.room_number.id_for_label }}" id="student1label">Room : </label>
            <div class="student1textarea">
              {{ form.room_number }}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.floor.id_for_label }}" id="student1label">Floor : </label>
            <div>
              {{ form.floor }}
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
          <div class="col">
            <center>
              <button type="submit" class="btn btn-success" id="student1button">เสร็จสิ้น</button>
            </center>
          </div>
          <div class="col">
            <center>
              <a class="btn btn-danger" href="{% url 'room' %}" id="student1button">ยกเลิก</a>
            </center>
          </div>
        </div>
      </form>
    </div>
  </body>
</div>
{% endblock %}

</html>