{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}ติดตามสถานะ{% endblock %}
{% block favicon %}{% static '/images/icons8-track-32.png'%}{% endblock %}


{% block importlink %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block nav %}
<div class="row">
    <div class="col-5">
      <div class="topleftnav"> 
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header" id="header1">
             <div class="container">
              <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                  
                </div>
                <div class="col">
                  
                </div>
              </div>
            </div>
            
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="close1"></button>
          </div>

          <div class="offcanvas-body">
            <div>

              <div class="container" id="containerimg111">
                <div class="row">
                  <div class="col">
                    
                  </div>
                  <div class="col" id="gridimg">
                    <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile2">

                    <h3 id="username1">{{user.username}}</h3>
                  </div>
                  <div class="col">
                    
                  </div>
                </div>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Name</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.first_name}} {{user.last_name}}</h5>
              </div>

              <div class="paddingbody">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel2">Email</h5>
                <h5 class="offcanvas-title2" id="offcanvasExampleLabel3">{{user.email}}</h5>
              </div>
              <br>
              <center>
                <div>
                  <button type="button" class="btn btn-warning" >
                    <a href="{% url 'change-password'%}" style="text-decoration: none; color: white;">Change Password</a>
                  </button>
                </div>
              </center>
            </div>
            
          </div>
        </div>

        Room : {{student_target.room_id.room_number}}
        
      </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5 text-end toprightnav">
      <div class="row">
        <div class="col" id="usernamepro">
              <img src="https://comicvine.gamespot.com/a/uploads/scale_medium/6/62058/1225416-1369424_picture_1.png" width="48" height="48" id="imageprofile" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              {{user.first_name}} {{user.last_name}}
              <a class="btn btn-danger" href="{% url 'logout' %}" id="logoutbutton"><b>Logout</b></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block sidebartitle %}
ติดตามสถานะ
{% endblock %}

{% block sidebar %}
<li id="sidebarsubtitle">
    <a href="{% url 'trackstatus' %}" class="nav-link link-dark">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M44 12C44 9.8 42.2 8 40 8H8C5.8 8 4 9.8 4 12M44 12V36C44 38.2 42.2 40 40 40H8C5.8 40 4 38.2 4 36V12M44 12L24 26L4 12"
                stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        ปัญหาที่ส่ง
    </a>
</li>
<li id="sidebarsubtitle">
    <a href="{% url 'index' %}" class="nav-link link-dark">
        <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M25 19.125V27.625M25 36.125H25.0208M21.4375 8.20249L3.79165 38.25C3.42783 38.8926 3.23533 39.6213 3.23329 40.3633C3.23126 41.1054 3.41975 41.8351 3.78004 42.4799C4.14032 43.1246 4.65983 43.6618 5.28687 44.0382C5.91392 44.4145 6.62665 44.6168 7.35415 44.625H42.6458C43.3733 44.6168 44.086 44.4145 44.7131 44.0382C45.3401 43.6618 45.8596 43.1246 46.2199 42.4799C46.5802 41.8351 46.7687 41.1054 46.7667 40.3633C46.7646 39.6213 46.5721 38.8926 46.2083 38.25L28.5625 8.20249C28.1911 7.57797 27.6682 7.06162 27.0441 6.70327C26.4201 6.34492 25.7161 6.15666 25 6.15666C24.2839 6.15666 23.5798 6.34492 22.9558 6.70327C22.3318 7.06162 21.8089 7.57797 21.4375 8.20249Z"
                stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        รายงานปัญหา
    </a>
</li>
<li id="sidebarsubtitle">
    <a href="{% url 'student-trackstatus' %}" class="nav-link link-dark">
        <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M25 19.125V27.625M25 36.125H25.0208M21.4375 8.20249L3.79165 38.25C3.42783 38.8926 3.23533 39.6213 3.23329 40.3633C3.23126 41.1054 3.41975 41.8351 3.78004 42.4799C4.14032 43.1246 4.65983 43.6618 5.28687 44.0382C5.91392 44.4145 6.62665 44.6168 7.35415 44.625H42.6458C43.3733 44.6168 44.086 44.4145 44.7131 44.0382C45.3401 43.6618 45.8596 43.1246 46.2199 42.4799C46.5802 41.8351 46.7687 41.1054 46.7667 40.3633C46.7646 39.6213 46.5721 38.8926 46.2083 38.25L28.5625 8.20249C28.1911 7.57797 27.6682 7.06162 27.0441 6.70327C26.4201 6.34492 25.7161 6.15666 25 6.15666C24.2839 6.15666 23.5798 6.34492 22.9558 6.70327C22.3318 7.06162 21.8089 7.57797 21.4375 8.20249Z"
                stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        ติดตามสถานะ
    </a>
</li>
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container text-center justify-content-center">
    {% for i in request_update %}
        {% if i.status != "completed" and i.status != "Completed" %}
            <div class="row align-items-center" id="rowpadding">
                <div class="col-2"></div>
                <div class="col-7">
                    <div class="itemcolor">
                        <p id="pcolor">หมายเหตุ: {{i.repair_request.description}}</p>
                        <div class="row" id="pcolorsp">
                            <div class="col text-align-center">
                                <p>สถานะหมายเหตุ: </p>
                            </div>
                            <div class="col text-align-center" {% if i.status == 'in_progress' %}
                            style="color: #F0AD4E;"
                            {% endif %}>
                            <p>{{i.status | title}}</p>
                            </div>
                        </div>
                        <p id="pcolor">ความเร่งด่วน: {{i.repair_request.urgency | title}}</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

</html>