.container {
    padding: 2%;
}

.topleftnav {
    font-size: 200%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.toprightnav {
    font-size: 200%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: end;
}

#usernamepro {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    justify-content: end;
}

#logoutbutton {
    padding: 1%;
}

#imageprofile {
    border-radius: 30px;
}


#sidebarsubtitle {
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#student1label {
    font-size: 300%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

.student1textarea {
    width: 100%;
}

#id_description {
    width: 100%;
    padding: 2%;
    border-radius: 30px;
}

#id_urgency {
    width: 50%;
    text-align: center;
    border-radius: 30px;

    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#id_repair_appointment_time_0 {
    border-radius: 30px;
    padding: 2%;
    width: 25%;
    text-align: center;
}

#id_repair_appointment_time_1 {
    border-radius: 30px;
    padding: 2%;
    width: 25%;
    text-align: center;
}

#id_status {
    border-radius: 30px;
    padding: 2%;
    text-align: center;
    width: 50%;
}

#id_technician {
    border-radius: 30px;
    padding: 2%;
    text-align: center;
    width: 100%;

    font-size: 120%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#student1button {
    width: 50%;
    text-align: center;
    border-radius: 30px;
    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#staff1button {
    display: flex;
    text-align: center;
    border-radius: 30px;
    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#room_number_staff {
    border-radius: 30px;
    font-size: 300%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: end;
}

select {
    overflow-y: auto;
}

#theadtech {
    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#deletetechassign {
    text-decoration: none !important;
    color: white;
}

#badgetwotop {
    width: 100%;

    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#tagabadge {
    font-size: 300%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;

    text-decoration: none !important;
    color: black !important;

    padding: 5% !important;
}

#tableheadrowblue {
    background-color: #2E86C1;
}

#tableheadletter {
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;

    color: white;
}

#tablebodyletter {
    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#buttonstudentmanageyr {
    color: white;
    text-decoration: none !important;

    font-size: 100%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#staffmanagestudentlabel {
    font-size: 300%;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#staffmanagestudentinput {
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: #F2F3F4;
}

#id_room_number{
    text-align: center;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: #F2F3F4;
}

#id_floor{
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 30px;
    background-color: #F2F3F4;
}


#staffmangestudentbutton {
    width: 50%;
    text-align: center;
    border-radius: 30px;
    padding: 2%;

    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#id_full_name {
    padding: 1%;
    width: 100%;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    background-color: #F2F3F4;
    border-radius: 30px;
}

#id_room_number {
    padding: 1%;
    width: 100%;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    background-color: #F2F3F4;
    border-radius: 30px;
}

#id_expertise {
    padding: 1%;
    width: 100%;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    background-color: #F2F3F4;
    border-radius: 30px;
    text-align: center;
}

#searchbuttonhistory {
    width: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 3%;

    font-size: 150%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

#chooseroomlabel {
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.offcanvas-title {
    color:black;
    
    border-radius: 30px;
    margin-bottom: 1rem;

}



/* #offcanvasExample{
    
} */

.offcanvas-body{
    font-size: 80%;
    
}

#offcanvasExampleLabel2{
    color: gray;
}

#offcanvasExampleLabel3{
    color: black;
    background: #F2F3F4;
    padding: 1rem;
}

.paddingbody{
    padding: 1rem;
}

#header1{
    background: #3395d6;
}

#close1{
    color: white;
}

#username1{
    color: #3395d6;
    padding-top: 1rem;
}

#imageprofile {
    border-radius: 30px;
}

#imageprofile2 {
    border-radius: 100px;
    width: 80px;
    height: auto;
    
}

#gridimg{
    width: 80px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1rem;
    
}

#buttonaddroom {
    border-radius: 60px;
    font-size: 200%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

#aaddroom {
    color: white;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    padding: 3%;
}

#aaddroomsss {
    color: white;
    text-decoration: none;

    font-size: 100%;
    font-family: "Mitr", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin-left: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 20%;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(13, 13, 13, 0.349); 
    border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 13, 13, 0.725);
}
