:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-Bold';
  src: url('/fonts/Mitr-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-ExtraLight';
  src: url('/fonts/Mitr-ExtraLight.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-Light';
  src: url('/fonts/Mitr-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-Medium';
  src: url('/fonts/Mitr-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-Regular';
  src: url('/fonts/Mitr-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Mitr-SemiBold';
  src: url('/fonts/Mitr-SemiBold.ttf') format('truetype');
  font-style: normal;
}

[lang="en"] {
  font-family: "Nunito", sans-serif;
}

[lang="th"] {
  font-family: "Mitr-Light", sans-serif;
}