/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html:lang(th) {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #2E86C1;
  color: white;
  padding: 20px;
}

nav .col {
  color: white;
  text-decoration: none;
}

#content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.badge bg-white text-dark {
  background-color: white !important;
}

#sidebarbg {
  background-color: #f2f3f4 !important;
  flex-shrink: 0;
  min-height: 100vh; 
  overflow-y: auto;
  width: 400px;
}

.sidebartitlefont {
  font-size: 250%;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#sidebartitleout {
  padding: 5%;
  border-radius: 30px;
}

#sidebarselected {
  padding: 10%;
}

.itemcolor{
  background-color: #f2f3f4 !important;
  padding: 5%;
  border-radius: 30px;
}

#pcolor{
  background-color: white !important;
  font-size: 150%;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 2%;
  padding-bottom: 2%;
  
  border-radius: 30px;
}

#pcolorsp {
  background-color: white !important;
  font-size: 150%;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 2%;
  margin: 2%;
  
  border-radius: 30px;
}

#rowpadding{
  padding: 2%;
  justify-content: center !important;
  text-align: center;

}

#deletestatus{
  text-decoration: none !important;
  color: white !important;
}

#pandapatting{
  padding: 2%;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 20%;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: none;
}


::-webkit-scrollbar-thumb {
  background-color: rgba(13, 13, 13, 0.349); 
  border-radius: 60px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgba(13, 13, 13, 0.725);
} */