@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-Bold';
    src: url('/fonts/Mitr-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('/fonts/Mitr-ExtraLight.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-Light';
    src: url('/fonts/Mitr-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-Medium';
    src: url('/fonts/Mitr-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-Regular';
    src: url('/fonts/Mitr-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Mitr-SemiBold';
    src: url('/fonts/Mitr-SemiBold.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
}

#pagecon {
    padding: 2% 2% 0% 2%;
}

html:lang(th) {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #2E86C1;
    color: white;
    padding: 20px;
}

nav .col {
    color: white;
    text-decoration: none;
}

#content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.badge bg-white text-dark {
    background-color: white !important;
}

#sidebarbg {
    background-color: #f2f3f4 !important;
    flex-shrink: 0;
    min-height: 100vh;
    overflow-y: auto;
    width: 400px;
}

.sidebartitlefont {
    font-size: 250%;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sidebartitleout {
    padding: 5%;
    border-radius: 30px;
}

#sidebarselected {
    padding: 10%;
}

.itemcolor {
    background-color: #f2f3f4 !important;
    padding: 5%;
    border-radius: 30px;
}

#pcolor {
    background-color: white !important;
    font-size: 150%;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 30px;
}

#pcolorsp {
    background-color: white !important;
    font-size: 150%;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 2%;
    margin: 2%;

    border-radius: 30px;
}

#rowpadding {
    padding: 2%;
    justify-content: center !important;
    text-align: center;

}

#deletestatus {
    text-decoration: none !important;
    color: white !important;
}

#pandapatting {
    padding: 2%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 20%;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(13, 13, 13, 0.349);
    border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 13, 13, 0.725);
}

#urgency-level-tag-a {
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
}

#roompara {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 200%;
}

#seereportspan {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 120%;
}

#sidebarlinkmenu {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 160%;
}

#navlinksidebar {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    padding: 4% 10% 4% 10%;
}

#linavlink {
    margin: 5%;
}

#cardtask {
    margin: 2%;
    width: 75%;
    overflow: hidden;
}

#technicianreport {
    padding: 3%;
}

#roompara {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 200%;
    text-align: left;
}

#floorpara {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 200%;
    text-align: left;
}

#taskrowinfo {
    padding: 2%;
}

#clickfordetailsarea {
    background-color: #f2f3f4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#linktodetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickforaccepttaskmodalbutton {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 200%;
}

#modaltitletter {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 120%;
}

#modalfooterbutton {
    justify-content: center;
}

#buttoninmodalletter {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 100%;
}

.taskarea {
    height: calc(100vh - 200px); /* Adjust height dynamically */
    overflow-y: auto;
    overflow-x: hidden;
}

#float-right-logout {
    display: flex;
    justify-content: flex-end;
}

#sidebarlinkmenu {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 160%;
}

#navlinksidebar2 {
    font-family: 'Mitr-Medium', sans-serif;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 32px;
    padding: 2% 2% ;
}

#navlinksidebar3 {
    font-family: 'Mitr-Medium', sans-serif;
    background-color: rgba(50, 50, 50, 0.05);
    border-radius: 32px;
    padding: 2% 2% ;
}

#sidebarlinkmenu2 {
    font-family: 'Mitr-Medium', sans-serif;
    font-weight: 200;
    font-size: 80%;
}

#responsive-room-para {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 200%;

    justify-content: center;
    align-items: center;
}

#padding-2-percent {
    padding: 0% 0% 5% 0%;
}

#responsive-floor-para {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 200%;

    justify-content: center;
    align-items: center;
}

#responsive-button-rabyan {
    font-family: 'Mitr-Light', sans-serif;
    font-weight: 200;
    font-size: 200%;
    color: white;
    width: 100%;
    height: 100%;
}
.nav-link {
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
.nav-link:active {
   transform: scale(0.9);
  }
  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
